.Main{
    width: 1200px;
    text-align: center;
    font-size: 18px;
}

.main_photo{
    margin-top: 10px;
    width: 100%;
    animation: appear 1.2s ease;
}

.header{
    font-weight: bold;
    font-size: 1.5rem;
    color: #26533f
}

.text {
    font-size: 1.2rem;
    color: #26533f
}

@keyframes appear {
    from {
        scale: 0.5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 100%;
    }
}

@media screen and (max-width: 1200px)
{
	.Main {
		width: 90%;
	}
}

@media screen and (max-width: 992px)
{
	.Main {
		width: 90%;
	}
}

@media screen and (max-width: 768px)
{
	.Main {
		width: 90%;
	}
}