.formContainer {
    margin: 0 10px;
    display: flex;
    width: 1200px;
}

.formLeft {
    position: relative;
    width: 60%;
}


.separator {
    width: 1px;
    max-height: 80%;
    background-color: #479974;
    margin: 10px 5px;
}

.formRight {
    position: relative;
    overflow: hidden;
    width: 35%;
    padding-left: 20px;
}

.input {
    margin: 10px 0;
    height: 30px;
    width: 250px;
    border-color: #26533f;
}

.submitBtn {
    margin-bottom: 10px;
    height: 36px;
    width: 258px;
    background-color: #26533f;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.submitBtn:hover {
    background-color: #278d5f;
}

.text {
    color: #26533f;
    font-size: 1.2em;
    margin-top: 10px;
}

.select {
    margin-top: 10px;
    height: 36px;
    width: 258px;
    border-color: #26533f;
}


.inputGroup {
    display: flex;
    flex-direction: column;
}

.validationMessage {
    top: 0;
    right: 0;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

.orderInfo {
    color: #26533f;
    font-size: 1.2em;
    line-height: 1.5;
    animation: total-appear 1.2s ease-out;

}

.orderInfo p {
    margin: 5px 0;
}

@keyframes total-appear {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1200px)
{
	.formContainer {
		width: 90%;
	}
}

@media screen and (max-width: 992px)
{

}

@media screen and (max-width: 768px)
{
    .formContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input {
        margin: 5px;
        width: 292px;
    }
    .inputGroup {
        align-items: center;
    }
    .select {
        align-items: center;
        width: 300px;
    }
    .formRight {
        width: 100%;
    }
    .formInput {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submitBtn {
        width: 300px;
    }
}