.nav {
    width: 1200px;
    padding: 18px 0 14px;
    margin-top: 3%;
    background: #284B28;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 20px;
}

.nav li:hover {
    text-decoration: underline;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1200px) {
    .nav {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .nav li {
        margin: 0 10px;
    }
    .nav {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: 18px;
    }
}