.container {
	width: 1200px;
}

.top {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.logo {

	margin-left: 10px;
}

.main_text {
    margin-right: 10px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
}

.header_text {
    color: #26533f;
    margin: 0 0 0 auto;
    font-size: 2rem;
}


.main_photo {
    position: absolute;
    align-items: center;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 1200px)
{
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 992px) {
    .logo .main_text {
        height: 90%;

    }
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: 18px;
    }
}