.Main {
    width: 1200px;
    margin: 10px 0;

    gap: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 45%;
    height: auto;
    object-fit: cover;
    animation-name: img-slide;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier();
}

.text__container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation-name: text-appear;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #284B28;
}

.text {
    font-size: 1.2em;
    line-height: 1.5;
    color: #284B28;
    max-width: 100%;
    text-align: center;
}


@keyframes img-slide {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 100%;
        transform: scale(1);
    }
}

@media screen and (max-width: 1200px)
{
	.Main {
		width: 90%;
	}
}

@media screen and (max-width: 992px)
{
	.Main {
		width: 90%;
	}
}

@media screen and (max-width: 768px)
{
	.Main {
		width: 90%;
	}
    .card {
        flex-direction: column;
        justify-content: center;
    }
    .text__container {
        width: 100%;
    }
    .img {
        width: 100%;
        margin: 10px 0;
    }
}